# Produce with this command:
# kafka-console-producer --producer.config client.conf --bootstrap-server <bootstrap-server> --topic test
# Consume with this command:
# kafka-console-consumer --consumer.config client.conf --bootstrap-server <bootstrap-server> --topic test --from-beginning

bootstrap.servers=<URL of the Bootstrap server with port>
security.protocol=SASL_SSL
sasl.jaas.config=org.apache.kafka.common.security.plain.PlainLoginModule required username='<Username or API-KEY>' password='<Password or API-SECRET>';
sasl.mechanism=PLAIN
# Required for consumers only:
group.id=<Name of your consumer group>

# Schema Registry
schema.registry.url=<URL OF SCHEMA REGISTRY>
basic.auth.credentials.source=USER_INFO
basic.auth.user.info=<user>:<password>
